#weather {
    padding: 50px;
    text-align: center;
    background-color: bisque
}

#loadingTarget {
    font-size: 32px;
    color: #486548;
}

.background {
    background-color: bisque;
}

.footer {
    text-align: center;
    margin-top: 20%;
}

h {
    font-size: 64px;
    font-family: lobster;
}