/* Create background setting that changes sizes incrementally with viewport */
.wrapper { 
    background-image: url('images/weather.jpg');
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#weather {
    padding: 50px;
    margin: 5% 25% 0% 25%;
    text-align: center;
    background-color: bisque;
    opacity: .7;
}

#loadingTarget {
    font-size: 32px;
    color: #486548;
}

h {
    font-size: 64px;
    font-family: lobster;
}